<%= form_for(@captain) do |f| %>
  <% if @captain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@captain.errors.count, "error") %> prohibited this captain from being saved:</h2>

      <ul>
      <% @captain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :captainTeam %><br>
    <%= f.number_field :captainTeam %>
  </div>
  <div class="field">
    <%= f.label :captainID %><br>
    <%= f.number_field :captainID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
