<p id="notice"><%= notice %></p>

<h1>Listing Captains</h1>
<h2>
  <a href="https://practice-database-simonina.c9users.io/players">Players</a>
</h2>
<h2>
  <a href="https://practice-database-simonina.c9users.io/matches">Matches</a>
</h2>

<table>
  <thead>
    <tr>
      <th>Captainteam</th>
      <th>Captainid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @captains.each do |captain| %>
      <tr>
        <td><%= captain.captainTeam %></td>
        <td><%= captain.captainID %></td>
        <td><%= link_to 'Show', captain %></td>
        <td><%= link_to 'Edit', edit_captain_path(captain) %></td>
        <td><%= link_to 'Destroy', captain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Captain', new_captain_path %>
