<p id="notice"><%= notice %></p>

<p>
  <strong>Captainteam:</strong>
  <%= @captain.captainTeam %>
</p>

<p>
  <strong>Captainid:</strong>
  <%= @captain.captainID %>
</p>

<%= link_to 'Edit', edit_captain_path(@captain) %> |
<%= link_to 'Back', captains_path %>
