<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :playerID %><br>
    <%= f.number_field :playerID %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :team %><br>
    <%= f.number_field :team %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.number_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :availabilityNotes %><br>
    <%= f.text_field :availabilityNotes %>
  </div>
  <div class="field">
    <%= f.label :unavailableFrom %><br>
    <%= f.text_field :unavailableFrom %>
  </div>
  <div class="field">
    <%= f.label :unavailableUntil %><br>
    <%= f.text_field :unavailableUntil %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
