<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>
<h2>
  <a href="https://practice-database-simonina.c9users.io/matches">Matches</a>
</h2>
<h2>
  <a href="https://practice-database-simonina.c9users.io/captains">Captains</a>
</h2>

<table>
  <thead>
    <tr>
      <th>Playerid</th>
      <th>Name</th>
      <th>Team</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Availabilitynotes</th>
      <th>Unavailablefrom</th>
      <th>Unavailableuntil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.playerID %></td>
        <td><%= player.name %></td>
        <td><%= player.team %></td>
        <td><%= player.email %></td>
        <td><%= player.mobile %></td>
        <td><%= player.availabilityNotes %></td>
        <td><%= player.unavailableFrom %></td>
        <td><%= player.unavailableUntil %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
