<p id="notice"><%= notice %></p>

<p>
  <strong>Playerid:</strong>
  <%= @player.playerID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @player.mobile %>
</p>

<p>
  <strong>Availabilitynotes:</strong>
  <%= @player.availabilityNotes %>
</p>

<p>
  <strong>Unavailablefrom:</strong>
  <%= @player.unavailableFrom %>
</p>

<p>
  <strong>Unavailableuntil:</strong>
  <%= @player.unavailableUntil %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
