<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matchID %><br>
    <%= f.number_field :matchID %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :team %><br>
    <%= f.number_field :team %>
  </div>
  <div class="field">
    <%= f.label :against %><br>
    <%= f.text_field :against %>
  </div>
  <div class="field">
    <%= f.label :competition %><br>
    <%= f.text_field :competition %>
  </div>
  <div class="field">
    <%= f.label :scoreFor %><br>
    <%= f.number_field :scoreFor %>
  </div>
  <div class="field">
    <%= f.label :scoreAgainst %><br>
    <%= f.number_field :scoreAgainst %>
  </div>
  <div class="field">
    <%= f.label :playerID1 %><br>
    <%= f.number_field :playerID1 %>
  </div>
  <div class="field">
    <%= f.label :playerID2 %><br>
    <%= f.number_field :playerID2 %>
  </div>
  <div class="field">
    <%= f.label :playerID3 %><br>
    <%= f.number_field :playerID3 %>
  </div>
  <div class="field">
    <%= f.label :playerID4 %><br>
    <%= f.number_field :playerID4 %>
  </div>
  <div class="field">
    <%= f.label :playerID5 %><br>
    <%= f.number_field :playerID5 %>
  </div>
  <div class="field">
    <%= f.label :playerID6 %><br>
    <%= f.number_field :playerID6 %>
  </div>
  <div class="field">
    <%= f.label :playerID7 %><br>
    <%= f.number_field :playerID7 %>
  </div>
  <div class="field">
    <%= f.label :playerID8 %><br>
    <%= f.number_field :playerID8 %>
  </div>
  <div class="field">
    <%= f.label :playerID9 %><br>
    <%= f.number_field :playerID9 %>
  </div>
  <div class="field">
    <%= f.label :playerID10 %><br>
    <%= f.number_field :playerID10 %>
  </div>
  <div class="field">
    <%= f.label :playerID11 %><br>
    <%= f.number_field :playerID11 %>
  </div>
  <div class="field">
    <%= f.label :playerID12 %><br>
    <%= f.number_field :playerID12 %>
  </div>
  <div class="field">
    <%= f.label :playerID13 %><br>
    <%= f.number_field :playerID13 %>
  </div>
  <div class="field">
    <%= f.label :playerID14 %><br>
    <%= f.number_field :playerID14 %>
  </div>
  <div class="field">
    <%= f.label :playerID15 %><br>
    <%= f.number_field :playerID15 %>
  </div>
  <div class="field">
    <%= f.label :playerID16 %><br>
    <%= f.number_field :playerID16 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
