<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>
<h2>
  <a href="https://practice-database-simonina.c9users.io/players">Players</a>
</h2>
<h2>
  <a href="https://practice-database-simonina.c9users.io/captains">Captains</a>
</h2>

<table>
  <thead>
    <tr>
      <th>Matchid</th>
      <th>Time</th>
      <th>Team</th>
      <th>Against</th>
      <th>Competition</th>
      <th>Scorefor</th>
      <th>Scoreagainst</th>
      <th>Playerid1</th>
      <th>Playerid2</th>
      <th>Playerid3</th>
      <th>Playerid4</th>
      <th>Playerid5</th>
      <th>Playerid6</th>
      <th>Playerid7</th>
      <th>Playerid8</th>
      <th>Playerid9</th>
      <th>Playerid10</th>
      <th>Playerid11</th>
      <th>Playerid12</th>
      <th>Playerid13</th>
      <th>Playerid14</th>
      <th>Playerid15</th>
      <th>Playerid16</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.matchID %></td>
        <td><%= match.time %></td>
        <td><%= match.team %></td>
        <td><%= match.against %></td>
        <td><%= match.competition %></td>
        <td><%= match.scoreFor %></td>
        <td><%= match.scoreAgainst %></td>
        <td>
          <% match.players.each do |player| %>
            <%= player.name %>
          <% end %>
        </td>
        <td><%= match.playerID2 %></td>
        <td><%= match.playerID3 %></td>
        <td><%= match.playerID4 %></td>
        <td><%= match.playerID5 %></td>
        <td><%= match.playerID6 %></td>
        <td><%= match.playerID7 %></td>
        <td><%= match.playerID8 %></td>
        <td><%= match.playerID9 %></td>
        <td><%= match.playerID10 %></td>
        <td><%= match.playerID11 %></td>
        <td><%= match.playerID12 %></td>
        <td><%= match.playerID13 %></td>
        <td><%= match.playerID14 %></td>
        <td><%= match.playerID15 %></td>
        <td><%= match.playerID16 %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
