<p id="notice"><%= notice %></p>

<p>
  <strong>Matchid:</strong>
  <%= @match.matchID %>
</p>

<p>
  <strong>Time:</strong>
  <%= @match.time %>
</p>

<p>
  <strong>Team:</strong>
  <%= @match.team %>
</p>

<p>
  <strong>Against:</strong>
  <%= @match.against %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @match.competition %>
</p>

<p>
  <strong>Scorefor:</strong>
  <%= @match.scoreFor %>
</p>

<p>
  <strong>Scoreagainst:</strong>
  <%= @match.scoreAgainst %>
</p>

<p>
  <strong>Playerid1:</strong>
  <%= @match.playerID1 %>
</p>

<p>
  <strong>Playerid2:</strong>
  <%= @match.playerID2 %>
</p>

<p>
  <strong>Playerid3:</strong>
  <%= @match.playerID3 %>
</p>

<p>
  <strong>Playerid4:</strong>
  <%= @match.playerID4 %>
</p>

<p>
  <strong>Playerid5:</strong>
  <%= @match.playerID5 %>
</p>

<p>
  <strong>Playerid6:</strong>
  <%= @match.playerID6 %>
</p>

<p>
  <strong>Playerid7:</strong>
  <%= @match.playerID7 %>
</p>

<p>
  <strong>Playerid8:</strong>
  <%= @match.playerID8 %>
</p>

<p>
  <strong>Playerid9:</strong>
  <%= @match.playerID9 %>
</p>

<p>
  <strong>Playerid10:</strong>
  <%= @match.playerID10 %>
</p>

<p>
  <strong>Playerid11:</strong>
  <%= @match.playerID11 %>
</p>

<p>
  <strong>Playerid12:</strong>
  <%= @match.playerID12 %>
</p>

<p>
  <strong>Playerid13:</strong>
  <%= @match.playerID13 %>
</p>

<p>
  <strong>Playerid14:</strong>
  <%= @match.playerID14 %>
</p>

<p>
  <strong>Playerid15:</strong>
  <%= @match.playerID15 %>
</p>

<p>
  <strong>Playerid16:</strong>
  <%= @match.playerID16 %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
